Repository adamalix/vanessa-games: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, swiftlint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-yaml
      - id: check-toml
      - id: check-json
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm exec prettier --write
        language: system
        files: \.(js|jsx|ts|tsx|json|css|scss|md|yaml|yml)$
      - id: swiftlint
        name: SwiftLint
        entry: ./scripts/swiftlint.sh
        language: system
        files: \.swift$
        pass_filenames: false

inherit `CI_XCODE_CLOUD` environment variable
  VanessaGames/Project.swift
Due: swiftlint

add testaction environment variable
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/ContentViewSnapshotTests.swift
  VanessaGames/Project.swift
Due: swiftlint

update ci path
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/ContentViewSnapshotTests.swift
Due: swiftlint

update the link to point to repository root
  VanessaGames/ci_scripts/resources/ClausySnapshots/__Snapshots__
Due: none

fix link and update path in file
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/ContentViewSnapshotTests.swift
  VanessaGames/ci_scripts/resources/ClausySnapshots/__Snapshots__
Due: swiftlint

disable perf tests due to slow xcode cloud environment
  VanessaGames/Games/ClausyTheCloud/Tests/ClausyTheCloudAdvancedTests.swift
Due: swiftlint

remove unnecessary environment tests
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/ContentViewSnapshotTests.swift
Due: swiftlint

update commands for generating snapshots
  .claude/commands/run-tests.md
  scripts/generate_snapshots.sh
Due: prettier

i give up, disable snapshot testing for now in ci
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/ContentViewSnapshotTests.swift
Due: swiftlint

enable snapshot tests in xcode cloud
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/ContentViewSnapshotTests.swift
Due: swiftlint

Clean up unused code and improve periphery configuration
  .periphery.yml
  VanessaGames/Games/ClausyTheCloud/Sources/ClausyTheCloudApp.swift
  VanessaGames/Games/ClausyTheCloud/Sources/ContentView.swift
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/ContentViewSnapshotTests.swift
  scripts/periphery.sh
Due: prettier, swiftlint

Implement comprehensive snapshot artifact collection for Xcode Cloud
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/ContentViewSnapshotTests.swift
  VanessaGames/ci_scripts/README_SNAPSHOT_ARTIFACTS.md
  VanessaGames/ci_scripts/ci_post_xcodebuild.sh
  VanessaGames/ci_scripts/ci_pre_xcodebuild.sh
  VanessaGames/ci_scripts/debug_snapshot_environment.sh
Due: prettier, swiftlint

Clean up unused code and improve periphery configuration (#18)
  .periphery.yml
  VanessaGames/Games/ClausyTheCloud/Sources/ClausyTheCloudApp.swift
  VanessaGames/Games/ClausyTheCloud/Sources/ContentView.swift
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/ContentViewSnapshotTests.swift
  scripts/periphery.sh
Due: prettier, swiftlint

Increase Clausy's movement speed
  VanessaGames/Games/ClausyTheCloud/Tests/ClausyTheCloudTests.swift
  VanessaGames/Shared/GameEngine/Sources/GameEngine.swift
Due: swiftlint

Increase Clausy's movement speed (#20)
  VanessaGames/Games/ClausyTheCloud/Tests/ClausyTheCloudTests.swift
  VanessaGames/Shared/GameEngine/Sources/GameEngine.swift
Due: swiftlint

migrate from copilot-instructions -> AGENTS.md
  .github/copilot-instructions.md
  AGENTS.md
Due: prettier

migrate from copilot-instructions -> AGENTS.md (#21)
  .github/copilot-instructions.md
  AGENTS.md
Due: prettier

update swiftlint and Tuist
  CLAUDE.md
  README.md
  VanessaGames/.swiftlint.yml
  VanessaGames/ci_scripts/ci_post_clone.sh
  VanessaGames/mise.toml
  mise.toml
Due: prettier

update swiftlint and Tuist (#22)
  CLAUDE.md
  README.md
  VanessaGames/.swiftlint.yml
  VanessaGames/ci_scripts/ci_post_clone.sh
  VanessaGames/mise.toml
  mise.toml
Due: prettier

update default actor isolation for Clausy
  VanessaGames/Project.swift
  VanessaGames/Tuist/Package.swift
Due: swiftlint

update default actor isolation for Clausy (#23)
  VanessaGames/Project.swift
  VanessaGames/Tuist/Package.swift
Due: swiftlint

update clausy snapshot tests for iOS 26.0
  .claude/commands/run-tests.md
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewDarkModeLandscapeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewDarkModeiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewFullAccessibilityiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewLandscapeiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewLandscapeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewLargeTextDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewLargeTextiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPadMini.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPadPro12_9.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPhone13Pro.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPhone13ProMax.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testGameWithGrownPlantsiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testGameWithRainDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testGameWithRainDropsiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testWinScreenDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testWinScreenLargeTextiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testWinScreeniPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testWinScreeniPhone13.1.png
Due: prettier

update clausy snapshot tests for iOS 26.0 (#24)
  .claude/commands/run-tests.md
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewDarkModeLandscapeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewDarkModeiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewFullAccessibilityiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewLandscapeiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewLandscapeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewLargeTextDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewLargeTextiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPadMini.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPadPro12_9.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPhone13Pro.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPhone13ProMax.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testGameWithGrownPlantsiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testGameWithRainDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testGameWithRainDropsiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testWinScreenDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testWinScreenLargeTextiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testWinScreeniPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testWinScreeniPhone13.1.png
Due: prettier

fix claude command
  .claude/commands/run-tests.md
Due: prettier

bump deps
  .pre-commit-config.yaml
  VanessaGames/.swiftlint.yml
  VanessaGames/mise.toml
  mise.toml
Due: prettier

add dependabot for actions
  .github/dependabot.yml
Due: prettier

add codeowners
  .github/CODEOWNERS
Due: none

add codeowners content whoops
  .github/CODEOWNERS
Due: none

bump deps
  apps/clausy-the-cloud/package.json
  package.json
  pnpm-lock.yaml
Due: prettier

bump deps (#29)
  apps/clausy-the-cloud/package.json
  package.json
  pnpm-lock.yaml
Due: prettier

bump actions
  .github/workflows/deploy-games.yml
Due: prettier

bump actions (#30)
  .github/workflows/deploy-games.yml
Due: prettier

bump lint actions
  .github/workflows/lint.yml
Due: prettier

bump lint actions (#31)
  .github/workflows/lint.yml
Due: prettier

delete redundant tool
  VanessaGames/mise.toml
Due: none

mise bump
  mise.toml
Due: none

adds swiftlint, formats, bumps deps
  .github/workflows/mise-upgrade.yml
  .pre-commit-config.yaml
  .swift-format
  VanessaGames/.swiftlint.yml
  VanessaGames/Games/ClausyTheCloud/Sources/ContentView.swift
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/ContentViewSnapshotTests.swift
  VanessaGames/Project.swift
  VanessaGames/Shared/GameEngine/Sources/Dependencies/TimerService.swift
  VanessaGames/Shared/GameEngine/Sources/GameEngine.swift
  VanessaGames/Tuist/Package.swift
  mise.toml
Due: prettier, swiftlint

delet unused workflow
  .github/workflows/mise-upgrade.yml
Due: prettier

improve bump-tools
  mise.toml
Due: none
