Repository adamalix/vanessa-games: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, swiftlint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-yaml
      - id: check-toml
      - id: check-json
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm exec prettier --write
        language: system
        files: \.(js|jsx|ts|tsx|json|css|scss|md|yaml|yml)$
      - id: swiftlint
        name: SwiftLint
        entry: ./scripts/swiftlint.sh
        language: system
        files: \.swift$
        pass_filenames: false

register the app (#10)
  .pre-commit-config.yaml
  VanessaGames/.swiftlint.yml
  VanessaGames/Games/ClausyTheCloud/Sources/ClausyTheCloudApp.swift
  VanessaGames/Games/ClausyTheCloud/Sources/ContentView.swift
  VanessaGames/Games/ClausyTheCloud/Tests/ClausyTheCloudTests.swift
  VanessaGames/Project.swift
  VanessaGames/Shared/GameEngine/Sources/GameEngine.swift
  VanessaGames/Shared/GameEngine/Tests/GameEngineTests.swift
  VanessaGames/ci_scripts/ci_post_clone.sh
  VanessaGames/ci_scripts/ci_post_xcodebuild.sh
  VanessaGames/ci_scripts/ci_pre_xcodebuild.sh
  scripts/swiftlint.sh
Due: prettier, swiftlint

add app icons
  VanessaGames/Project.swift
  VanessaGames/Shared/Assets/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  VanessaGames/Shared/Assets/Resources/Assets.xcassets/AppIcon.appiconset/icon_1024x1024.png
  VanessaGames/Shared/Assets/Resources/Assets.xcassets/AppIcon.appiconset/icon_120x120.png
  VanessaGames/Shared/Assets/Resources/Assets.xcassets/AppIcon.appiconset/icon_152x152.png
  VanessaGames/Shared/Assets/Resources/Assets.xcassets/AppIcon.appiconset/icon_167x167.png
  VanessaGames/Shared/Assets/Resources/Assets.xcassets/AppIcon.appiconset/icon_180x180.png
  VanessaGames/Shared/Assets/Resources/Assets.xcassets/AppIcon.appiconset/icon_20x20.png
  VanessaGames/Shared/Assets/Resources/Assets.xcassets/AppIcon.appiconset/icon_29x29.png
  VanessaGames/Shared/Assets/Resources/Assets.xcassets/AppIcon.appiconset/icon_40x40.png
  VanessaGames/Shared/Assets/Resources/Assets.xcassets/AppIcon.appiconset/icon_58x58.png
  VanessaGames/Shared/Assets/Resources/Assets.xcassets/AppIcon.appiconset/icon_60x60.png
  VanessaGames/Shared/Assets/Resources/Assets.xcassets/AppIcon.appiconset/icon_76x76.png
  VanessaGames/Shared/Assets/Resources/Assets.xcassets/AppIcon.appiconset/icon_80x80.png
  VanessaGames/Shared/Assets/Resources/Assets.xcassets/AppIcon.appiconset/icon_87x87.png
  VanessaGames/Shared/Assets/Resources/Assets.xcassets/Contents.json
Due: prettier, swiftlint

move the files to clausy dir
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_1024x1024.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_120x120.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_152x152.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_167x167.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_180x180.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_20x20.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_29x29.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_40x40.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_58x58.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_60x60.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_76x76.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_80x80.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_87x87.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/Contents.json
Due: prettier

feat: migrate Clausy the Cloud to iOS with comprehensive testing
  VanessaGames/Games/ClausyTheCloud/Sources/ContentView.swift
  VanessaGames/Games/ClausyTheCloud/Tests/ClausyTheCloudTests.swift
  VanessaGames/Shared/GameEngine/Sources/GameEngine.swift
Due: swiftlint

fix: resolve SwiftLint violations in ContentView
  VanessaGames/Games/ClausyTheCloud/Sources/ContentView.swift
Due: swiftlint

App icons (#11)
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_1024x1024.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_120x120.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_152x152.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_167x167.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_180x180.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_20x20.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_29x29.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_40x40.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_58x58.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_60x60.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_76x76.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_80x80.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/AppIcon.appiconset/icon_87x87.png
  VanessaGames/Games/ClausyTheCloud/Resources/Assets.xcassets/Contents.json
  VanessaGames/Project.swift
Due: prettier, swiftlint

feat: migrate Clausy the Cloud to iOS with comprehensive testing (#12)
  VanessaGames/Games/ClausyTheCloud/Sources/ContentView.swift
  VanessaGames/Games/ClausyTheCloud/Tests/ClausyTheCloudTests.swift
  VanessaGames/Shared/GameEngine/Sources/GameEngine.swift
Due: swiftlint

update deps for clausy the cloud web
  apps/clausy-the-cloud/package.json
  package.json
  pnpm-lock.yaml
Due: prettier

add build_server_gen script
  .gitignore
  scripts/build_server_gen.sh
Due: none

add build_server_gen script (#14)
  .gitignore
  scripts/build_server_gen.sh
Due: none

update deps for clausy the cloud web (#13)
  apps/clausy-the-cloud/package.json
  package.json
  pnpm-lock.yaml
Due: prettier

bump tool versions
  .mise.toml
Due: none

bump tool versions (#15)
  .mise.toml
Due: none

update instructions and add periphery script
  CLAUDE.md
  README.md
  scripts/periphery.sh
Due: prettier

add snapshot-testing and fix swiftlint
  VanessaGames/.package.resolved
  VanessaGames/.swiftlint.yml
  VanessaGames/Project.swift
  VanessaGames/Tuist/Package.swift
  scripts/swiftlint.sh
Due: prettier, swiftlint

add script to generate snapshot tests
  scripts/generate_snapshots.sh
Due: none

add AGENTS_TESTING.md plan to implement snapshot testing
  AGENTS_TESTING.md
  CLAUDE.md
Due: prettier

Add swift-dependencies to iOS testing architecture
  AGENTS_TESTING.md
  VanessaGames/Project.swift
  VanessaGames/Tuist/Package.swift
Due: prettier, swiftlint

Complete Phase 1 of iOS testing strategy
  AGENTS_TESTING.md
Due: prettier

Implement dependency injection system for ClausyGameEngine
  AGENTS_TESTING.md
  CLAUDE.md
  VanessaGames/Games/ClausyTheCloud/Sources/ContentView.swift
  VanessaGames/Shared/GameEngine/Sources/Dependencies/Dependencies.swift
  VanessaGames/Shared/GameEngine/Sources/Dependencies/GameClockService.swift
  VanessaGames/Shared/GameEngine/Sources/Dependencies/GameRandomService.swift
  VanessaGames/Shared/GameEngine/Sources/Dependencies/TimerService.swift
  VanessaGames/Shared/GameEngine/Sources/GameEngine.swift
Due: prettier, swiftlint

Refactor ContentView for testability with dependency injection
  AGENTS_TESTING.md
  VanessaGames/Games/ClausyTheCloud/Sources/ClausyTheCloudApp.swift
  VanessaGames/Games/ClausyTheCloud/Sources/ContentView.swift
  VanessaGames/Games/ClausyTheCloud/Tests/ClausyTheCloudTests.swift
  VanessaGames/Shared/GameEngine/Sources/GameEngine.swift
Due: prettier, swiftlint

Fix timer execution issue in production game loop
  VanessaGames/Shared/GameEngine/Sources/Dependencies/TimerService.swift
  VanessaGames/Shared/GameEngine/Sources/GameEngine.swift
Due: swiftlint

Fix SwiftLint violations and enable strict mode
  VanessaGames/Shared/GameEngine/Sources/Dependencies/Dependencies.swift
  VanessaGames/Shared/GameEngine/Sources/Dependencies/GameClockService.swift
  VanessaGames/Shared/GameEngine/Sources/Dependencies/TimerService.swift
  VanessaGames/Shared/GameEngine/Sources/GameEngine.swift
  scripts/swiftlint.sh
Due: swiftlint

Simplify dependency injection by using swift-dependencies built-ins
  VanessaGames/Shared/GameEngine/Sources/Dependencies/GameClockService.swift
  VanessaGames/Shared/GameEngine/Sources/Dependencies/TimerService.swift
Due: swiftlint

add symlinked WARP.md -> CAUDE.md
  WARP.md
Due: prettier

Complete Task 2.3: Enhanced Game Logic Tests
  AGENTS_TESTING.md
  VanessaGames/Games/ClausyTheCloud/Tests/ClausyTheCloudAdvancedTests.swift
Due: prettier, swiftlint

add snapshot tests for Clausy the Cloud game
  AGENTS_TESTING.md
  VanessaGames/Games/ClausyTheCloud/Tests/ContentViewSnapshotTests.swift
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewDarkModeLandscapeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewDarkModeiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewFullAccessibilityiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewLandscapeiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewLandscapeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewLargeTextDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewLargeTextiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPadMini.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPadPro12_9.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPhone13Pro.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPhone13ProMax.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testGameWithGrownPlantsiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testGameWithRainDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testGameWithRainDropsiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testWinScreenDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testWinScreenLargeTextiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testWinScreeniPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testWinScreeniPhone13.1.png
Due: prettier, swiftlint

improve sanpshot test generation
  VanessaGames/Games/ClausyTheCloud/Tests/ContentViewSnapshotTests.swift
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewDarkModeLandscapeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewDarkModeiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewFullAccessibilityiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewLandscapeiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewLandscapeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewLargeTextDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewLargeTextiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPadMini.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPadPro12_9.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPhone13Pro.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPhone13ProMax.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testGameWithGrownPlantsiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testGameWithRainDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testGameWithRainDropsiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testWinScreenDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testWinScreenLargeTextiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testWinScreeniPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testWinScreeniPhone13.1.png
  scripts/generate_snapshots.sh
Due: swiftlint

add a run-tests command for claude
  .claude/commands/run-tests.md
  .gitignore
Due: prettier

add instructions for running snapshot tests
  CLAUDE.md
Due: prettier

mark 3.2 and 3.3 as skipped
  AGENTS_TESTING.md
Due: prettier

Add comprehensive testing templates for iOS game development
  VanessaGames/TestingTemplates/GameEngineTestTemplate.swift
  VanessaGames/TestingTemplates/IntegrationTestTemplate.swift
  VanessaGames/TestingTemplates/README.md
  VanessaGames/TestingTemplates/ViewTestTemplate.swift
Due: prettier, swiftlint

Organize planning documents and add planning archive
  planning/AGENTS_TESTING.md
  planning/README.md
Due: prettier

attempt to fix ci_post_clone.sh
  VanessaGames/ci_scripts/ci_post_clone.sh
Due: none

try to fix post clone
  VanessaGames/ci_scripts/ci_post_clone.sh
Due: none

fix path to swiftlint.yml
  VanessaGames/ci_scripts/ci_pre_xcodebuild.sh
Due: none

update used simulator os to 18.5
  .claude/commands/run-tests.md
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewDarkModeLandscapeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewDarkModeiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewFullAccessibilityiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewLandscapeiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewLandscapeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewLargeTextDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewLargeTextiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPadMini.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPadPro12_9.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPhone13Pro.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPhone13ProMax.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testGameWithGrownPlantsiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testGameWithRainDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testGameWithRainDropsiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testWinScreenDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testWinScreenLargeTextiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testWinScreeniPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/__Snapshots__/ContentViewSnapshotTests/testWinScreeniPhone13.1.png
  scripts/generate_snapshots.sh
Due: prettier

move snapshots to their own directory
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/ContentViewSnapshotTests.swift
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewDarkModeLandscapeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewDarkModeiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewFullAccessibilityiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewLandscapeiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewLandscapeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewLargeTextDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewLargeTextiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPadMini.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPadPro12_9.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPhone13Pro.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testContentViewiPhone13ProMax.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testGameWithGrownPlantsiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testGameWithRainDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testGameWithRainDropsiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testWinScreenDarkModeiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testWinScreenLargeTextiPhone13.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testWinScreeniPadPro11.1.png
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/__Snapshots__/ContentViewSnapshotTests/testWinScreeniPhone13.1.png
Due: swiftlint

add symlink tracking ClausySnapshots
  VanessaGames/ci_scripts/resources/ClausySnapshots/__Snapshots__
Due: none

add hooks to detect CI environment
  VanessaGames/Games/ClausyTheCloud/Tests/SnapshotTests/ContentViewSnapshotTests.swift
Due: swiftlint
